<div class="product-image">
    <div class="img-holder-main">
      <img class="img-main" [src]="image" alt="Loading...">
    </div>
    
    <div class="row">
      <div class = "col-md-4 nopadding">
        <img class="featurette-image img-fluid mx-auto" [src]="image">
      </div>
      <div class = "col-md-4 nopadding">
        <img class="featurette-image img-fluid mx-auto" [src]="image">
      </div>
      <div class = "col-md-4 nopadding">
        <img class="featurette-image img-fluid mx-auto" [src]="image">
      </div>
    </div>
  </div>  