<div class="product-image">
    <div class="img-holder-main">
      <img class="img-main" [src]="image" alt="Loading...">
    </div>
    
    <div class="row">
      <div class = "col-md-4 nopadding">
        <a (click)="changeFocus(0)">
            <img 
            class="featurette-image img-fluid mx-auto" 
            [class.image-focus]="focusNumber == 0" 
            [src]="image">
        </a>
      </div>
      <div class = "col-md-4 nopadding">
        <a (click)="changeFocus(1)">
          <img 
            class="featurette-image img-fluid mx-auto" 
            [class.image-focus]="focusNumber == 1" 
            [src]="image" >
        </a>
        
      </div>
      <div class = "col-md-4 nopadding">
        <a (click)="changeFocus(2)">
          <img 
          class="featurette-image img-fluid mx-auto" 
          [class.image-focus]="focusNumber == 2" 
          [src]="image">
        </a>
      </div>
    </div>
  </div>  