.price{
    margin-top: 2%;
    margin-bottom: 2%;
}

.product-price{
    
    font-weight:bold;
}


.product-original-price{
    color: gray;
    text-decoration: line-through;
}

.join{
    margin-top: 2%;
    border-radius: 25px;
}

.flex-container {
    display: flex;
}

.border-light {
    border: 2px solid gray;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

