    
<div class="card mb-4 shadow-sm">
    <div class="img-container">
      <a 
      routerLink="/product-page"
      [queryParams]="{ productId: product.$key }"
      >
        <img class="card-img-top img-responsive" [src]="product.imageUrl" alt="Card image cap">
      </a>
    </div>
    <div class="card-body">
      <div class="card-body-content">
        <a 
        routerLink="/product-page"
        [queryParams]="{ productId: product.$key }"
        >
          <h5 class="card-title">{{ product.title }}</h5>
        </a>
        <div class="card-text">
          <div class="row">
            <div class="col-md-6">
              <div class="card-price">
                  {{ product.price | currency:'USD':true }} 
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-origninal-price">
               {{ product.originalPrice | currency:'USD':true }} 
              </div> 
            </div>
          </div>
          



          <div class="card-percent">
            <p><ngb-progressbar type="primary" [value]="product.numBuyers / product.numBuyersRequired * 100"></ngb-progressbar></p>
          </div>
        </div>
      </div>   
    </div>
  </div>