<h2>Orders</h2>
<input 
  #query
  (keyup)="filter(query.value)" 
  type="text" class="form-control" placeholder="Search...">

<table class="table">
  <thead>
      <tr>
          <th>Title</th>
          <th>Price</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let o of filteredOrders ">
          <td>{{ o.product.title }}</td>
          <td>{{ o.product.price }}</td>
          <td>
              <a [routerLink]="['/admin/orders/', o.$key ]">Edit</a>
          </td>
      </tr>
  </tbody>
</table>