<div>
  
  <h1> Product name: 
    <a *ngIf="order.productId" [routerLink]="['/admin/products/', order.productId ]"> {{ order.product.title }}</a>
  </h1>
  <h2> OrderId: {{ id }} </h2>
  <table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Country</th>
            <th>State</th>
            <th>Zip Code</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let buyer of buyerIds; index as i ">
            <td>{{ buyer }}</td>
            <td>{{ shippingInfo[i].firstName }} {{ shippingInfo[i].lastName }}</td>
            <td>{{ shippingInfo[i].address }} {{ shippingInfo[i].address2 }}</td>
            <td>{{ shippingInfo[i].country }}</td>
            <td>{{ shippingInfo[i].state }}</td>
            <td>{{ shippingInfo[i].zip }}</td>

        </tr>
    </tbody>
</table>

<Button (click)="processOrder()" class="btn btn-primary">Ship</Button>

</div>